.row.panel
  = form_for @user do |f|
    .six.columns
      = f.label :username
      = f.text_field :username
      = f.label :image
      = f.text_field :image
    .six.columns
      = f.label :password
      = f.password_field :password
      = f.label :password_confirmation
      = f.password_field :password_confirmation
    = f.submit :class => 'button secondary'