= form_tag do
  = text_area_tag 'tweet_content', nil, :rows => 4
  = hidden_field_tag 'username', @auth.username
  = hidden_field_tag 'user_id', @auth.id
  = button_tag 'Post', :id => 'tweet_submit', :class => 'button secondary'
  = button_tag '0', :class => 'button secondary disabled right'